site_name: IBDC-coursework
site_url: https://USERNAME.github.io/IBDC-coursework/

theme:
  name: material

nav:
  - Home: index.md

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.mark

